.number {
  text-align: center;
  font-size: 30px;
}

.welcome {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.word {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.coloring {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}